<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ConnectString" value="mongodb://103.27.238.158:47019/vime_admin" />
    <add key="email" value="landsofthcm@gmail.com" />
    <add key="password" value="01663193718" />
    <add key="template" value="VIME-INFORM-EXPIREDATE-CONTRACT.html" />
    <add key="subject" value="[VIME] - GIA HẠN DỊCH VỤ" />
  </appSettings>
</configuration>